################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/CPP_2019_chap2_pretest-jwlee6404/v15/Browse.VC.opendb
